.egzemplarzeContainer{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    width:950px;
}
.underBasketContainer{
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
}
.wyszukiwarka{
    width: 200px;
    border: 1px dashed black;
    height: 250px;
    border-radius: 20px;
    padding:15px;
    background-color: white;
}
.szukaj{

    height: 20px;
    margin:0;
    margin-top: 10px;
}
.szukajBtn{
    width: 100px;
    height: 20px;
    float: right;
    margin-right: 0;
}
.checkbox{
    width: 30px;
}