input{
    width:200px;
    height: 30px;
    margin:10px;
}
.submitBtn{
    border-radius: 20px;
    background-color: #333;
    color:white;
}
.formContainer{
    border-radius: 20px;
    border: 1px solid black;
    width:222px;
    margin:auto
}
.formName{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.submitBtn:hover{
    background-color: black;
}